@charset "UTF-8";

@media screen and (min-width:768px ) and (max-width: 993px) {

    body{
        background-image: linear-gradient(to top, #80A6F7, #5f2c82);
    }

    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30vw;
        height: 100%;
    }

    section#login > div#formulário {
       
        float: right;
        width: 70%;
    }

    div#form > p {
        padding-left: 250px;
        font-size: 1em;
    }
}

@media screen and (min-width: 992px) { 
    
    body{
        background-image: linear-gradient(to top, #80A6F7, #5f2c82);
    }
    
    
    section#login {

        width: 990px; 
}
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulário {
        float: left;
        width: 50%;
    }

    div#form > h1 {
        font-size: 2em ;
    }

    div#form > p {
        font-size: 1.2em;
    }

    
}