@charset "UTF-8";

/* Paleta cores

#0027C2 azul escuro
#570475 roxo
#5f2c82 lilás
#80A6F7 azul claro
#2E62D1 azul médio


*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82 ;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;

    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.443);

    transition: width 1s, heigth 1s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);

}

section#login >div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-neo-2653362.jpg) no-repeat;
    height: 200px;
    background-size: cover;
}

section#login > div#form {
    display: block;
    padding: 10px;
    
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #755b86;
    border: 2px solid #755b86 ;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;

}

div.campo > label {
    display: none;

}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo input {
    background-color:#80A6F7 ;
    font-size: 1em;
    width: calc(100% - 46px);
    height: 100%;
    
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;
    outline: none;

}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #80A6F7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color:#4e679b ;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white ;
    color: #203767;
    border: 1px solid #80A6F7 ;
    border-radius: 5px;
    text-decoration: none;
}

form a.botao:hover {
    background-color: #92b2f8;
}

form > a.botao > i {
    font-size: 0.8em;

}

