@charset "UTF-8";

/* Paleta cores

#0027C2 azul escuro
#570475 roxo
#5f2c82lilás
#80A6F7 azul claro
#2E62D1 azul médio


*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82 ;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;

    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.443);

    transition: width 1s, heigth 1s;
    transition-timing-function: ease;

}

section#login >div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-neo-2653362.jpg) no-repeat;
    height: 200px;
    background-size: cover;
}

section#login > div#form {
    display: block;
    padding: 10px;
}